{{! https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/typescript-axios/modelIndex.mustache }}
{{#models}}{{#model}}export * from './{{classFilename}}.js';{{/model}}
{{/models}}